/* Variables */
:root {
    --header-image: url('https://indubitablyjacksin.neocities.org/canet2.0.gif');
    --body-bg-image: url('https://indubitablyjacksin.neocities.org/resources/backgrounddither.jpg');

    /* colors */
    --content: #F2D492;
    --highlight-dark-blue: #569095;
    --main-background-color: #202C39;
    --sub-background-color: #24323F;
    --box-background-color: #283845;
    --main-text-color: #F2D492;
    --link-color: #F2D492;
    --hover-link-color: #F2A568;
    --bold-color: #F29559;
    --highlight-blue: #66D6E1;
    --last-updated-time: "13 April 2024";
}

/* Fonts */
@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: IndustrialFaith;
    src: url('/resources/fonts/INDFAIT_.TTF');
    font-style: normal;
}

@font-face {
    font-family: Octane;
    src: url('/resources/fonts/OCS_____.TTF');
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url("/resources/fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'JosefinSans';
    src: url("/resources/fonts/JosefinSans-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

/* General styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: var(--box-background-color);
    background-image: var(--body-bg-image);
    background-repeat: repeat-x;
    background-attachment: fixed;
    height: 150vh;
    overflow:scroll; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    z-index: 0;
}

* {
    box-sizing: border-box;
}

/* Container */
#container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; /* Ensure the container takes full height */
    display: flex;
    flex-direction: column;
}

#container a {
    color: var(--link-color);
    font-weight: bold;
}

#container a:hover {
    color: var(--hover-link-color);
}

/* Header */
#header {
    width: 100%;
    background-color: var(--box-background-color);
    color: var(--box-background-color);
    height: 150px;
    background-image: var(--header-image);
    background-size: 100%;
    z-index: 3;
}

#mainheader {
    text-align: center;
    color: var(--highlight-blue);
    background-image: url("/comments/sparkle-bg.gif");
    font-family: 'Octane';
}

/* Flex layout */
#flex {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    padding-bottom: 25px;
    flex-grow: 1; /* Allow the flex container to grow */
}

/* Sidebars */
aside {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    width: 250px;
    padding: 20px;
    font-size: smaller;
    color: var(--highlight-blue);
    z-index: 0;
}

aside .box {
    padding-bottom: 5px;
}

#leftSidebar {
    order: 1;
    box-sizing: border-box;
    overflow: visible;
    padding: .2%;
    background-image: url('https://indubitablyjacksin.neocities.org/comments/sparkle-bg.gif');
    background-attachment: fixed;
    font-size: 16px;
    color: var(--main-text-color);
}

#leftSidebar li a {
    color: var(--link-color);
    font-weight: 800;
    text-decoration: none;
}

#leftSidebar li a:hover {
    color: var(--hover-link-color);
    text-decoration: underline;
}

#rightSidebar {
    order: 3;
    width: 30%;
    overflow-x: auto;
}

/* Main content */
main {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    width: fit-content;
    flex: 1;
    padding: 20px;
    order: 2;
    overflow-y: auto;
    z-index: 1;
}

/* Footer */
footer {
    background-color: var(--sub-background-color);
    width: 100%;
    height: 10px;
    color: var(--main-text-color);
    justify-content: space-between, space-evenly;
}

footer p {
    text-align: center;
    align-self: baseline;
}

/* Headings and text */
h1, h2, h3 {
    font-family: 'JosefinSans', sans-serif;
    color: var(--text-color);
}

h1 {
    font-size: 25px;
}

strong {
    color: var(--bold-color);
}

/* Box styling */
.box {
    background-color: var(--sub-background-color);
    border: 5px solid var(--highlight-blue);
    padding: 10px;
    height: 100%;
}

/* Extras */
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}

.post {
    padding: 20px 20px 50px 20px;
    background-color: var(--box-background-color);
    z-index: 2;
    margin-bottom: 30px;
    border: 5px solid #66D6E1;
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.post h1 {
    text-decoration: underline;
    text-align: center;
}

.post h2, h3, h4, h5 {
    text-align: center;
}

.post a {
    color: var(--link-color);
    font-weight: 800;
    text-decoration: none;
}

/* Table styling */
.first-row {
    border-color: var(--bold-color);
    border-style: dashed;
    background-color: var(--highlight-dark-blue);
}

.second-row {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

/* Scrollbar styling */
* {
    scrollbar-width: auto;
    scrollbar-color: #66d6e1 #569095;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #569095;
}

*::-webkit-scrollbar-thumb {
    background-color: #66d6e1;
    border-radius: 10px;
    border: 5px none #ffffff;
}

/* Media query for responsiveness */
@media only screen and (max-width: 1100px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 2;
    }

    #leftSidebar {
        order: 1;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
#newchangeslist {
    padding-top: 10px;
}

#linebar {
    margin: 5px 0;
    height: 2px;
    margin-bottom: 10px;
    background: repeating-linear-gradient(90deg, var(--main-text-color) 0 3px, transparent 0 7px);
}

.scrollableAreaContainer {
    width: auto;
    height: 25%;
    overflow: auto;
    border: 5px solid #111;
}

.scrollableItems {
    padding: 0;
}

.scrollableItems li {
    display: grid;
    width: fit-content;
    overflow: visible;
    align-items: normal;
    background-color: var(--box-background-color);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}

.scrollableItems img {
    width: 100px;
    height: auto;
    padding: 15px;
}